@import"https://pro.fontawesome.com/releases/v5.10.0/css/all.css";

*{
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color:rgb(177, 224, 231);
}

.container{
  text-align: center;
  width: 90%;
  max-width: 1024px;
  margin: auto;

}

.btn-tema #selection{
    margin-top: 10px;
    padding: 5px;
    background-color: brown;
    border-radius: 15px;

}

#container-personal{
    background-color:cadetblue;
}

#container-laboral{
    background-color:cornflowerblue;
}

#container-info{
    background-color:cadetblue;
}

#container-familiar{
    background-color:aquamarine;
}

#container-estudio{
    background-color: azure;
}

.titulo{
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:azure;
    
}

.imagen img{
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 75px;
    margin-left: 75%;
 
}

img {
    transition: all 0.9s ease;
    border: 10px;
}

img:hover {
    transition: all 0.6s ease;
    filter: brightness(50%);
}

.social {
    margin-left: 85%;
    padding: 40px 0;
    margin-bottom: 40px;
    border-top: 1px solid #cbcbcb;
    
}

.social i{
   padding: 0 10px;
   cursor: pointer; 
}

.social i:hover{
    background-color: aqua;
    
}


.menu{
    background-color:burlywood;
    display: inline-flex;
    margin-top: 0%;
    margin-left: 15%;
    border-radius: 5px;

}

#menu-info{
    background-color:aquamarine;
    margin-left: 0%;
   
}

#menu-laboral{
    background-color: hsl(0, 0%, 80%);
    margin: 20px ;
    margin-left: 10%; 
}

#menu-personal{
    margin-bottom: 15px;
    margin-left: 20px;
    background-color: chartreuse;
}

#menu-familiar{
    margin-bottom: 10px;
    background-color: forestgreen;
    margin-left: 14px;
}

#menu-estudio{
    margin-bottom: 25px;
    background-color: cyan;
    margin-left: 15px;
}

 .menu a{
    text-decoration: none;
    color:blueviolet;
    padding: 0 20px;
    
}

.nav-items {
    list-style-type: none;
    display:flex
}

.btnMostrar{
    padding: 10px;
    background-color: aqua;
    color: brown;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btnMostrar:hover{
    opacity: 75%;
    background-color: cadetblue;
}

.btn1{
    
    padding: 30px;
    width: 150px;
    
}

.btn1:hover {
    color:chocolate
}

.btn1:active{
    color:blanchedalmond;
    background-color: #cbcbcb;
}

.btn2{
    
    padding: 30px;
    display: block;
    width: 150px;
   
}

.btn2:hover {
    opacity: calc(30%);
}

.btn2:active{
    color:chartreuse;
    background-color:chocolate;
}

.btn3{
    
    padding: 30px;
    display: block;
    width: 150px;
    
}

.btn3:hover {
    color:white;
    background-color: orangered;
}

.btn3:active{
    color:firebrick;
    background-color:darkmagenta;
}

.btn4{
    padding: 30px;
    display: block;
    width: 150px;
    
}

.btn4:hover{
    background: yellowgreen;
    color: aliceblue;
}

.btn4:active {
    color: red;
    background-color: fuchsia;
}



.btn5{
    
    padding: 30px;
    display: block;
    width: 150px;

}

.btn5:hover{
    opacity:20%;
    color:white;
}

.btn5:active{
    color:chartreuse;
    background-color:green;
}


.laboral {
    margin: 20px 15px;
    border-radius: none;
}

.familiar {
    margin: 20px 15px;
    border-radius: none;
    background-color: cadetblue;
}

.article{
    margin-left: 20%;
}

.article{
    
    margin-top: 5%;
    padding-top: 0%;

}

#article-info p{
    color:beige;
    padding-top: 0%;
    margin-right: 20px;
    text-align: justify;
    margin-top: 0%;
}

 #article-laboral p{
    color: crimson;
    padding-top: 0%;
    text-align: justify;
}

#article-personal p{
    color:aliceblue;
    padding-top: 0%;
    text-align: justify;
}

#article-familiar p{
    color:darkblue;
    text-align: justify;
}

#article-estudio p{
    color: deeppink;
    text-align: justify;
}


.acordeon{
    background-color: azure;
    color: green;
    cursor: pointer;
    padding: 20px;
    width: 99%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.active, .acordeon:hover{
    background-color: burlywood;
}

.seccion{
    padding: 0px 20px;
    display: none;
    background-color: cornflowerblue;
    overflow: hidden;
}

section p{
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    background-color:burlywood;
    margin-right: 20px;
    transition: all .2s ease-in-out;
    
}

section a{
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    background-color: cornflowerblue;
    border-bottom: 2px solid gray;
    margin-right: 20px;
}

section:target p{
    max-height: 120px;
    padding: 10px;
}

.download{
  
   margin-left: 40%;
   list-style: none;
   padding-bottom: 20px;

}

.download li{
    color: aqua;
    background-color:burlywood;
    margin-right: 50%;
    margin-left: 0%;
    padding: 15px;
    border-radius: 5px;

}

.download :hover{
    background-color: blueviolet;
    color: #cbcbcb;
}

#estilo1{
    background-color: salmon;
}

#estilo2{
    background-color:cyan;
}

#estilo3{
    background-color: tomato;
}





